@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 245, 245, 220;
  --background-rgb: 28, 43, 43;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
  min-height: 100vh;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gold;
  }
  
  button {
    @apply transition-all duration-200;
  }
}
